body{
    margin-top: 5%;
}
.header{
    display: flex;
    margin: 0 5%;
}
.content{
    width: 50%;
    text-align: left;

}
.photo{
    width: 50%;
}
.photo img {
    width: 80%;
    float: right;
}
h1{
    font-size: 60px;
    border-left: 5px solid tomato;
    padding-left: 10px;
}
.title-color{
    color: #11b1fb;
}
.button{
    text-decoration: none;
    padding: 10px;
    background-color: #11b1fb;
    box-shadow: 1px 2px 5px gray;
    color: #fff;
    border-radius: 8px;
}
.small{
    margin-top: 10%;
}
.myself{
    margin-bottom: 10%;
}

/* Part 2 from here */

.missions{
    text-align: center;
    font-size: 30px;
}
.mission-vision-goal{
    display: flex;
    justify-content: space-around;
}
.mission-vision-goal h3,p{
    padding-left: 20px;
}
.mission{
    width: 300px;
    height: 350px;
    background-color: #edf5f6;
    border-radius: 30px;
}
.mission img{
    width: 150px;
}
.vission{
    width: 300px;
    height: 350px;
    background-color: #ffeeee;
    border-radius: 30px;
}
.vission img{
    width: 150px;
}
.goal{
    height: 350px;
    width: 300px;
    background-color: #fff4d6;
    border-radius: 30px;
}
.goal img{
    width: 150px;
}
#gthy{
    float: right;
    width: 80%;
}

/* part 3 start from here */

.limits{
    display: flex;
    margin: 0 5%;
    padding-top: 5%;
    padding-bottom: 10%;
}
.coding-photo{
    width: 50%;
}
.coding-photo img{
    float: left;
    width: 80%;
    border-radius: 35px;
    
}
.content{
    width: 50%;
}
.content h2{
    font-size: 30px;
}
.content p{
    padding: 0;
}
.project-photo{
    width: 50%;

}
.project-photo img{
    width: 80%;
    float: right;
}
/* footer start from here */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}




